
.contenedor_proyectos {
    max-width: 1100px;
    width: 90%;
    margin: auto;
    display: flex;
  }
  .contenedor_proyectos h1 {
    color: #494b4d;
    font-weight: 400;
    margin: 0px 0px;
    display: flex;
  }
  .categoria .categoria_item_active {
    background: #fff;
    display: flex;
  }
  
  /*======================================
                Proyectos
  ========================================*/
  
  .Proyectos {
  padding: 0% 4% 0% 0%;
  display: flex;
  }
  .proyectos .proyectos_item {
    box-shadow: 0px 0px 7px 0px #d9c6b4;
    padding: 5px;
    width: 450PX;
    margin-left: 0%;
    margin-bottom: 0px;
    display: flex;
  }
  .proyectos .proyectos_item img {
    padding: 1px;
    width: 99.5%;
    display: flex;
  }
  .proyectos .proyectos_item a {
    display: block;
    width: 98.5%;
    padding: 5px;
    background: #000;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: flex;
  }